name: Java CI with Gradle

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: π³ JDK 11 μ„Έν…
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: π³ gradlew μ‹¤ν–‰ κ¶ν• μ„¤μ •
      run: chmod +x gradlew
 
    - name: π³ ν…μ¤νΈ μ§„ν–‰
      run: ./gradlew --info test
